.guild-members {
    margin-top: 1.5rem;
    display: flex;
}

.guild-members button {
    margin-left: auto;
}

.guild-members .leave {
    background-color: crimson;
}

.guild-members .join {
    background-color: chartreuse;
}
