
<h1>Guilds</h1>
<div>
  <input [(ngModel)]="sSearchGuild" (input)="onGuildListChanged()" />
</div>
<mat-accordion>
  <mat-expansion-panel hideToggle *ngFor="let guild of guilds()">
    <mat-expansion-panel-header *ngIf="sSearchGuild === '' || guild.name.toLowerCase().includes(sSearchGuild)">
      <mat-panel-title> {{guild.name}} </mat-panel-title>
      <mat-panel-description> [{{ guild.membersCount }}/{{ guild.capacity }}]</mat-panel-description>
    </mat-expansion-panel-header>
    <p>{{ guild.description }}</p>
    <p>
      <a mat-raised-button color="primary" [title]="guild.name + ' details'" [routerLink]="['/guilds', guild.id]">Details</a>
    </p>
  </mat-expansion-panel>
</mat-accordion>


  <button [routerLink]="['/create-guild']">create a guild</button>
